{% extends 'base.html' %}

{% block content %}
<section class="site-hero" style="background-image: url(/static/images/sai-kiran-anagani-61187-unsplash.jpg);" id="section-home" data-stellar-background-ratio="0.5">
    <div class="container">
    <div class="row intro-text align-items-center justify-content-center">
        <div class="col-md-10 text-center">
        <h1 class="site-heading site-animate">Hello, I'm <strong>Anum Asif</strong></h1>
        <p class="lead site-subheading mb-4 site-animate">A Software Developer</p>
        <p><a href="#section-about" class="smoothscroll btn btn-primary">More On Me</a></p>
        </div>
    </div>
    </div>
</section> 
<section class="site-section maindiv" id="section-about">
    <div class="container">
        
        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
                <img src="/static/images/profile-pic.jpg" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-lg-5 pl-lg-5">
                <div class="section-heading">
                <h2>About <strong>Me</strong></h2>
                </div>
                <p class="lead"><em>Programming</em> is my passion. Writing a code and seeing it solving a real life problem is like the best feelings in the world. Apart from coding, i love outdoor activities like swimming, going for a walk or playing badminton. I also love painting landscapes using acrylic medium.</p>
                <p>
                <a href="#section-contact" class="btn btn-primary px-4 py-2 btn-sm smoothscroll">Hire Me</a>
                <a href="#" class="btn btn-secondary px-4 py-2 btn-sm">Download CV</a>
                </p>
            </div>
        </div>
    </div>
</section>  
<section id="section-skills" class="maindiv">
    <div class="container">
        <div class="skills">
            <h1 class="site-heading site-animate" style="text-align:center;">My <strong>Skills</strong></h1>    
        </div>
            <hr>
        <div class="row mb-5 align-items-center" >
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pr-lg-2 mb-2 mb-lg-0 skill">
                <img src="/static/images/html.png" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 pr-lg-2 mb-2 mb-lg-0 skill">
                <img src="/static/images/css.png" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 pr-lg-2 mb-2 mb-lg-0 skill">
                <img src="/static/images/js.png" alt="Image placeholder" class="img-fluid">
            </div>    
            <div class="col-lg-3 col-md-3 col-sm-6 pr-lg-2 mb-2 mb-lg-0 skill">
                <img src="/static/images/angular.png" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 pr-lg-2 mb-2 mb-lg-0 skill">
                <img src="/static/images/python.png" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 pr-lg-2 mb-2 mb-lg-0 skill">
                <img src="/static/images/postgresql.png" alt="Image placeholder" class="img-fluid">
            </div>
             <div class="col-lg-3 col-md-3 col-sm-6 pr-lg-2 mb-2 mb-lg-0 skill">
                <img src="/static/images/django.png" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 pr-lg-2 mb-2 mb-lg-0 skill">
                <img src="/static/images/flask.png" alt="Image placeholder" class="img-fluid">
            </div>
        </div>
    </div>    
</section> 
<section class="site-section maindiv" id="section-project">
    <div class="container">
    <div class="skills">
        <h1 class="site-heading site-animate" style="text-align:center; ">My <strong>Projects</strong></h1> 
    </div>
    <hr>
    
   
        <div class="row mb-5 align-items-center">
            {% for project in projects %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 px-lg-2 mb-2 mb-lg-0 skill">
                <div class="card sticky-action">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator open" src="{{project.screenshot.cdn_url}}" id="a{{ project.id }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{project.title}}<i class="material-icons right open" id="a{{ project.id }}" >more_vert</i></span>
                        <!-- <p> 
                            <a href="{{project.weblink}}" class="btn btn-primary py-2 btn-sm smoothscroll">View Code</a>
                            <a href="{{project.githublink}}" class="btn btn-secondary py-2 btn-sm">Visit Site</a>
                        </p> -->
                    </div>
                    <!-- <div class="card-reveal"> 
                        <span class="card-title grey-text text-darken-4">{{project.title}}<i class="material-icons right">close</i></span>
                        <p>{% autoescape on %}
                            {{project.description| safe}}
                        {% endautoescape %}
                        </p>
                    </div> -->
                    <div class="w3-modal" id="project-a{{ project.id }}">
                        <div class="w3-modal-content w3-animate-top w3-card-4">
                            <header class="w3-container w3-teal"> 
                                <span onclick="document.getElementById('project-a{{ project.id }}').style.display='none'" 
                                class="w3-button w3-display-topright">&times;</span>
                                <h2>{{project.title}}</h2>
                            </header>
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{project.screenshot.cdn_url}}">
                            </div>
                            <div class="w3-container">
                                <p>
                                    {% autoescape on %}
                                    {{project.description| safe}}
                                    {% endautoescape %}
                                </p>
                            </div>
                            <footer class="w3-container w3-teal">
                            <p> 
                            <a href="{{project.weblink}}" class="btn btn-primary py-2 btn-sm smoothscroll">View Code</a>
                            <a href="{{project.githublink}}" class="btn btn-secondary py-2 btn-sm">Visit Site</a>
                            </p>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="site-section maindiv" id="section-contact">
        <div class="container">
            <div class="skills">
                <h1 class="site-heading site-animate" style="text-align:center;">My <strong>Contact Details</strong></h1> 
            </div>
            <hr>   
            <div class="col-md-12 text-center">
         
            
            <p>
                <a href="#" class="social-item"><span><img src="/static/images/linkedin-button.png" alt=""></span></a>
                <a href="https://github.com/AnumAsif" class="social-item"><span><img src="/static/images/github-logo.png" alt=""></span></a>
                <a href="#" class="social-item"><span><img src="/static/images/facebook-logo-button.png" alt=""></span></a>
            </p>
            <p>
                <a class="text-center" href="mailto:anum@cockar.com">Email: anum@cockar.com</a>
            </p>
            </div>
        </div>
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <p class="col-12 text-center">
                    Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved
                    </p>
                </div>
            </div>
        </footer>
    </section>   

{% endblock  %}